.divider {
  background-color: var(--lightGrayColor);
  height: 1.5px;
  opacity: 0.3;
  margin: 10px 0;
}

.smallButton {
  flex: 1;
  border-radius: 5px;
  padding: 13px;
}

ion-input {
  --placeholder-color:var(--lightGrayColor);
  --placeholder-opacity:0.8;
}

.profileImageOverlay {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.55);
  width: 110px;
  height: 110px;
  border-radius: 55px;
}
