.messageBedge {
  background-color: var(--yellowColor);
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  position: absolute;
  top: 0;
  right: 0;
}

.divider {
  background-color: var(--grayColor);
  height: 1px;
  opacity: 0.2;
  margin-bottom: 18px;
}

.commentLikeCircle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--yellowColor);
  left: -10px;
  bottom: 0;
}

.unreadBedge {
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  background-color: var(--yellowColor);
  margin-left: 10px;
}
