.whiteColor14Regular {
  color: var(--whiteColor);
  font-size: 14px;
}

.whiteColor15Regular {
  color: var(--whiteColor);
  font-size: 15px;
}

.whiteColor16Regular {
  color: var(--whiteColor);
  font-size: 16px;
}

.whiteColor17Medium {
  color: var(--whiteColor);
  font-size: 17px;
  font-weight: 500;
}

.whiteColor15SemiBold {
  color: var(--whiteColor);
  font-size: 15px;
  font-weight: 600;
}

.whiteColor17SemiBold {
  color: var(--whiteColor);
  font-size: 17px;
  font-weight: 600;
}

.whiteColor19SemiBold {
  color: var(--whiteColor);
  font-size: 19px;
  font-weight: 600;
}

.whiteColor21SemiBold {
  color: var(--whiteColor);
  font-size: 21px;
  font-weight: 600;
}

.whiteColor14Bold {
  color: var(--whiteColor);
  font-size: 14px;
  font-weight: 700;
}

.whiteColor15Bold {
  color: var(--whiteColor);
  font-size: 15px;
  font-weight: 700;
}

.whiteColor16Bold {
  color: var(--whiteColor);
  font-size: 16px;
  font-weight: 700;
}

.whiteColor18Bold {
  color: var(--whiteColor);
  font-size: 18px;
  font-weight: 700;
}

.whiteColor20Bold {
  color: var(--whiteColor);
  font-size: 20px;
  font-weight: 700;
}

.whiteColor30Bold {
  color: var(--whiteColor);
  font-size: 30px;
  font-weight: 700;
}

.whiteColor35Bold{
  color: var(--whiteColor);
  font-size: 35px;
  font-weight: 700;
}

.grayColor12Regular {
  color: var(--grayColor);
  font-size: 12px;
}

.grayColor13Regular {
  color: var(--grayColor);
  font-size: 13px;
}

.grayColor14Regular {
  color: var(--grayColor);
  font-size: 14px;
}

.grayColor15Regular {
  color: var(--grayColor);
  font-size: 15px;
}

.grayColor16Regular {
  color: var(--grayColor);
  font-size: 16px;
}

.grayColor16Bold {
  color: var(--grayColor);
  font-size: 16px;
  font-weight: 700;
}

.lightGrayColor13Regular {
  color: var(--lightGrayColor);
  font-size: 13px;
}

.lightGrayColor16Regular {
  color: var(--lightGrayColor);
  font-size: 16px;
}

.primaryColor16Regular {
  color: var(--primaryColor);
  font-size: 16px;
}

.blackColor14Bold{
  color: var(--blackColor);
  font-size: 14px;
  font-weight: 700;
}

.blackColor16Bold{
  color: var(--blackColor);
  font-size: 16px;
  font-weight: 700;
}

.blackColor18Bold{
  color: var(--blackColor);
  font-size: 18px;
  font-weight: 700;
}
