ion-content::part(background) {
  background: url("../../../../assets/images/bg.jpg") no-repeat center center /
    cover;
}

.shadow::part(background) {
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0.1, 0, 0.7),
    var(--blackColor)
  );
}

.txtField {
  --placeholder-color: var(--whiteColor);
  --placeholder-opacity: 0.7;
  --padding-start: 15px;
  --padding-end: 15px;
  --padding-top: 15px;
  --padding-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}
